.header {
    background-color: white; 
    padding: 0 var(--spacing-lg);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow-sm);
    flex-shrink: 0; /* Evita que el header se achique */
}
.header-logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-primary);
}